---
import HeaderLink from './HeaderLink.astro'
---

<nav class='flex lg:flex-col items-start space-x-8 lg:space-x-0 lg:space-y-6 w-full lg:w-auto my-8 lg:my-0'>
  <HeaderLink href='/'>Home</HeaderLink>
  <HeaderLink href='/blog'>Blog</HeaderLink>
  <HeaderLink href='https://github.com/BSKnuckles' target='_blank'>GitHub</HeaderLink>
  <HeaderLink href='https://www.dropbox.com/s/874z72ozftqsikf/MichaelMcNees_Resume_2020.pdf?dl=0' target='_blank'
    >Resume</HeaderLink
  >
</nav>
